body {
    background-color: #C7D2D6;
    color: #0B2027;
}
#start-button {
    margin-top: 20px;
    margin-bottom: 20px;
}

.game-row {
    padding: 0px 15px;
}

.game-square {
    background-color: #6f99a8;
    text-align: center;
    border: 1px solid #0B2027;
    min-height: 75px;
    cursor: pointer;
}

footer {
    padding: 20px 0px;
}

@media only screen and (min-width: 768px) {
    .game-square {
        height: 186px;
    }

    .game-square h1 {
        font-size: 121px;
    }
}