body {
    background-color: #6192d3; /*#705d56;*/
    color: #f0f7f4;
}
.header-text {
    opacity: .3;
}
.row {
    padding: 5px 0px;
}
.calc {
    background-color: #8cbbf7; /* #99e1d9;*/
    text-align: right;
}
.calc-text {
    opacity: .3;
}
.answer {
    background-color: #657ea0; /*#70abaf;*/
    text-align: right;
}
.answer-text {
    opacity: 1;
}
h2 {
    color: #1f2d3d;
}
.calc-button {
    text-align: center;
    cursor: pointer;
    background-color: #bad7ff; /* #f0f7f4;*/
}
.equal {
    background-color: #8cbbf7; /* #99e1d9;*/
}

