body {
    background-color: #6192d3;
    color: #f0f7f4;
}
    a, a:hover, a:visited {
        color: #2e4057;
    }
.header-text {
    opacity: .3;
}
.row {
    padding: 5px 0px;
}
.calc {
    background-color: #8cbbf7;
    text-align: right;
}
.calc-text {
    opacity: .3;
}
.answer {
    background-color: #657ea0;
    text-align: right;
}
.answer-text {
    opacity: 1;
}
h2 {
    color: #1f2d3d;
}
.calc-button {
    text-align: center;
    cursor: pointer;
    background-color: #bad7ff;
}
.equal {
    background-color: #8cbbf7;
}

